
@{
    ViewBag.Title = "SupplierPODetailsIndex";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}


<script>


        $(document).ready(function () {


            $("#SHOWEXP").click(function (e, params) {
                $('#loadingmessage').show();
                var fromdate = $("#FromDate").val();
                var todate = $("#Todate").val();
                var supplier_pk = $('#Supplier_PK').find('option:selected').val();

                $.ajax({
                        url: "@Url.Action("GetSupplierwisePODetails", "EXPADN")",
                        traditional: true,
                    type: "GET",
                    data: { 'supplier_pk': supplier_pk, 'fromdate': fromdate, 'todate': todate },
                    success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#Summarydiv").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                });
            });

        });





</script>

<h2>SupplierPODetailsIndex</h2>


<div class="container">

    <div class="container-fluid jumbotron">
        <div class="row top-buffer">
            <div class="col-md-2">Supplier:</div>
            <div class="col-md-6">  @Html.DropDownList("Supplier_PK", null, htmlAttributes: new { @style = "width: 250px;", @class = "chosen-select form-control" })</div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-2">
                From  Date:
            </div>
            <div class="col-md-4">  @Html.TextBox("FromDate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })</div>
            <div class="col-sm-2">
                To  Date:
            </div>
            <div class="col-md-4">  @Html.TextBox("Todate", null, htmlAttributes: new { @style = "width: 250px;", @class = "datepicker form-control" })</div>

            


        </div>
        <div class="row top-buffer">
            <div class="col-sm-2">
                
            </div>
            <div class="col-md-6">  </div>

            <div class="col-sm-4">
                <input id="SHOWEXP" type="button" value="SHOWREPORT" data-toggle="tooltip" data-placement="top" title="Load REPORT" class="btn btn-default show" />
            </div>


        </div>
    </div>


</div>

<div id='loadingmessage' style='display:none'>
    <img src='~/Image/ajax-loader.gif' />
</div>
<div id="Summarydiv"> </div>