<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Controls/chosen_v1.7.0/chosen.jquery.js"></script>
    <script src="~/Areas/Controls/chosen_v1.7.0/docsupport/init.js"></script>
    <script src="~/Areas/Controls/chosen_v1.7.0/docsupport/prism.js"></script>
    <link href="~/Areas/Controls/chosen_v1.7.0/chosen.css" rel="stylesheet" />
    <script src="~/JQuery/ExporttoExcel.js"></script>





    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
               <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
      <script type="text/javascript" language="javascript" src=" https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
       <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.bootstrap.min.js"></script>
       <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
       <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
       <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
       <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
      <script type="text/javascript" language="javascript" src=" https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
       <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.bootstrap.min.css" />

    

    <link href="~/css/BootStrapScript.css" rel="stylesheet" />
    
    
    
    
    
    
    
    
    <script src="~/Plugin/MyDataTable.js"></script>

    <script>

        $(document).ready(function () {
            $(".chosen-select").chosen();
            $(".datepicker").datepicker();

        });

        

    </script>

</head>



<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid"  >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ArtMVC", "Index", "Home", new { area = "ArtMVC" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="~/Default2.aspx">WebARt</a></li>
                   
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content " >
        <div class="container " style="margin-left:20px;margin-right:20px">
            @RenderBody()
        </div>
      
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Art Web</p>
        </footer>
    </div>

  
</body>
</html>