<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Controls/chosen_v1.7.0/chosen.jquery.js"></script>
    <script src="~/Areas/Controls/chosen_v1.7.0/docsupport/init.js"></script>
    <script src="~/Areas/Controls/chosen_v1.7.0/docsupport/prism.js"></script>
    <link href="~/Areas/Controls/chosen_v1.7.0/chosen.css" rel="stylesheet" />

    <script>
     
        $(document).ready(function () {
            $(".chosen-select").chosen()
        });
     
    </script>

</head>



<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ArtMVC", "Index", "Home", new { area = "ArtMVC" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="~/Default2.aspx">WebARt</a></li>
                   
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Art Web</p>
        </footer>
    </div>

  
</body>
</html>