@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}
<div id='loadingmessage' style='display:none'>
    <img src='~/Image/ajax-loader.gif' />
</div>
<div id='output' class="">
    <!-- Output goes here -->
</div>
<script>


    $(document).ready(function () {
        alert("Hi");
            var Month = 'All';
            $('#loadingmessage').show();
                $.ajax({
                    url: "@Url.Action("GetDashBoard", "AccountReport")",
                    traditional: true,
                    type: "GET",                   
                    success: function (fooBarHTML) {
                        $('#loadingmessage').hide();
                        alert("Done");
                    $("#output").html(fooBarHTML);
                    },
                    error: function (xhr, status, errorThrown) {
                        $('#loadingmessage').hide();
                    }
                    });



    });





</script>