
@{
    ViewBag.Title = "BackUPDatabase";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>BackUPDatabase</h2>
<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create BackUP" class="btn btn-default" />
            </div>
        </div>


    </div>
</div>


