
@{
    ViewBag.Title = "RollRackAllocationIndex";
    Layout = "~/Areas/ArtMVC/Views/Shared/_Layout.cshtml";
}

<h2>RollRackAllocationIndex</h2>
<style>

    .chosen-container.chosen-container-single {
        width: 300px !important; /* or any value that fits your needs */
    }
</style>

<script>


        $(document).ready(function () {

            var by_mrn = "N";
            $("#mrn").hide();
            $("#Inventory_item").click(function () {
                $("#mrn").hide();
                by_mrn = "N";
            });
            $("#By_MRN").click(function () {
                $("#mrn").show();
                by_mrn = "Y";
            });
            $("#Show_MCRSummary").click(function (e, params) {
                $('#loadingmessage').show();
                if (by_mrn == "Y") {
                    var Mrn_PK = $('#Mrn_PK').find('option:selected').val();
                }
                if (by_mrn == "N") {
                    var Mrn_PK = 0;
                }
                var Rack_PK = $('#Rack_PK').find('option:selected').val();

                $.ajax({
                        url: "@Url.Action("GetRollMRNDetails", "RackAllocation")",
                        traditional: true,
                        type: "GET",
                    data: {
                        'mrn_pk': Mrn_PK, 'Rack_PK': Rack_PK},
                    success: function (fooBarHTML) {
                            $('#loadingmessage').hide();
                        $("#Summarydiv").html(fooBarHTML);
                        },
                        error: function (xhr, status, errorThrown) {
                            $('#loadingmessage').hide();
                        }
                        });
            });

        });





</script>
<button id="By_MRN" data-toggle="collapse" class="btn btn-info" data-target="#demo3">MRN Wise Rack Allocation</button>
<button id="Inventory_item" data-toggle="collapse" class="btn btn-info" data-target="#demo3">All Item Rack Allocation</button>
<div id="demo3" class="container">
   
    <div class="container-fluid jumbotron">
        <div id="mrn" class="row top-buffer">
            <div class="col-md-2">MRN #:</div>
            <div class="col-md-6">  @Html.DropDownList("Mrn_PK", null, htmlAttributes: new { @style = "width: 250px;", @class = "chosen-select form-control" })</div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-2">
                Rack Num :
            </div>
            <div class="col-md-6">  @Html.DropDownList("Rack_PK", null, htmlAttributes: new { @style = "width: 250px;", @class = "chosen-select form-control" })</div>

            <div class="col-sm-4">
                <input id="Show_MCRSummary" type="button" value="Get Details" data-toggle="tooltip" data-placement="top" title="Get Fabric detail of MRn" class="btn btn-default show" />
            </div>


        </div>
    </div>


</div>
<div id='loadingmessage' style='display:none'>
    <img src='~/Image/ajax-loader.gif' />
</div>


<div id="Summarydiv"> </div>
