@helper GetTreeView(List<ArtWebApp.DataModels.SubMenuMaster> siteMenu, Decimal? parentID)
{
foreach (var i in siteMenu.Where(a => a.ParentID.Equals(parentID)))
{
        <li>
            @{var submenu = siteMenu.Where(a => a.ParentID.Equals(i.Menu_PK)).Count();}
            @if (submenu > 0)
            {
                <span class="collapse collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
                <a href="@i.MenuURL">@i.MenuText</a>
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @GetTreeView(siteMenu, i.Menu_PK)
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
            }
        </li>
                }
}
